@font-face {
  font-family: 'Fira Mono';
  src: url('fonts/fira-mono-regular.eot');
  src: url('fonts/fira-mono-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/fira-mono-regular.woff') format('woff'),
       url('fonts/fira-mono-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}